@import "normalize.css";
@import "rouge-github.css";

@font-face {
  font-family: Schoolbell;
  src: url(../ttf/Schoolbell-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../ttf/static/Raleway-Regular.ttf);
}

/* LAYOUT STYLES */
body {
  font-family: Raleway, Helvetica, Arial, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #aaa;
  background: #101010;
  margin: 0px;
}

p {
  margin-top: 0;
}

a {
  color: #ccc;
}
a:hover {
  color: #ddd;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  background: #666 url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: dashed 1px #aaa;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #ccc;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: 0;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

#content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: dashed 1px #fff;
  height: 100%;
  width: 100%;
}

#main-content {
  overflow: hidden;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#main-content img {
  max-width: 100%;
}

img.profile {
  border-radius: 50%;
  margin: 0 20px;
}

header img {
  float: left;
  height: 200px;
}

div#page-title {
  float: left;
  margin: 50px;
}

aside#sidebar {
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  float: left;
  padding: 0 20px 0 20px;
  line-height: 2.0;
  border-right: dashed 1px #aaa;
  font-size: 20px;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #aaa;
}

code {
  padding: 0 3px;
  background-color: #666;
  border: solid 1px #555;
}

pre {
  padding: 20px;
  overflow: auto;
  text-shadow: none;
  background: #666;
  border: solid 1px #555;
}
pre code {
  padding: 0;
  color: #666;
  background-color: #555;
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: dashed 1px #ccc;
}

table {
  width: 100%;
  border: 1px dashed #ccc;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px dashed #ccc;
}

form {
  padding: 20px;
  background: #ccc;

}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  font-weight: normal;
  color: #aaa;
  text-indent: 6px;
  letter-spacing: -1px;
}

#main-content h1:before {
  padding-right: 0.3em;
  color: #aaa;
  content: "› ";
}

#main-content h2 {
  margin: 8px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  color: #aaa;
  text-indent: 4px;
}
#main-content h2:before {
  padding-right: 0.3em;
  content: "›› ";
  color: #aaa;
}

#main-content h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  text-indent: 3px;
}

#main-content h3:before {
  padding-right: 0.3em;
  content: "››› ";
  color: #aaa;
}

#main-content h4 {
  margin-bottom: 8px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  text-indent: 3px;
}

h4:before {
  padding-right: 0.3em;
  content: "›››› ";
  color: #aaa;
}

#main-content h5 {
  margin-bottom: 8px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: #aaa;
  text-indent: 3px;
}
h5:before {
  padding-right: 0.3em;
  content: "››››› ";
  color: #aaa;
}

#main-content h6 {
  margin-bottom: 8px;
  font-family: Schoolbell, 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: #aaa;
  text-indent: 3px;
}
h6:before {
  padding-right: 0.3em;
  content: "›››››› ";
  color: #aaa;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 10px;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 16px;
  border-left: 1px dashed #aaa;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
}

li:before {
  content: '›';
  margin-left: -20px;
  margin-right: 10px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #aaa;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 0;
    margin-left: 0;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-color: #9ddcff;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header a.button small {
    display: inline;
    font-size: 13px;
  }
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    min-height: 0;
    padding: 20px 0 20px 0;
    margin-top: 20px;
    border-top: solid 1px #ddd;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 0;
    margin-left: 0;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
